body {
	background-image: url("../images/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	}

.hops{
	width: 50%;
}

h1{
	color: #ffffff;
	font-family: 'Francois One', sans-serif;
	font-size: 65px;
	float: right;
	margin-right: 100px;
	margin-top: 150px;
}

.the{
	font-family: 'Sue Ellen Francisco', cursive;
}

.box{
	background-color: rgba(255,255,0,0.5);
	width: 500px;
	height: 100%;
}

p{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-right: 100px;
	width: 400px;
}