body {
	background-image: url("../images/bckg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

h1{
	color: #ffffff;
	font-family: 'Francois One', sans-serif;
	font-size: 72px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.the{
	font-family: 'Sue Ellen Francisco', cursive;
}

p{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	width: 400px;
}

.box{
	position: absolute;
	background-color: rgba(0, 0, 0, .3);
	height: 300px;
	left: 0;
	right: 0;
	top: 150px;
}